<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta charset="utf-8">
    <meta name="description" content="Molini- Hotel And Resort Responsive HTML5 Template">
    <meta name="keywords" content="agency, developer, directory, home, house, html5, listing, material design, modern, property, real estate, realtor, rental">
    <meta name="author" content="shifttechplus">
    <!-- Title -->
    <title>不知名酒店</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="img/favicon.png">
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
    <!-- Stylesheets Start -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/flaticon.css" th:href="@{css/flaticon.css}">
    <link rel="stylesheet" href="css/jquery-ui.css" th:href="@{css/jquery-ui.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css"th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/icofont.min.css" th:href="@{css/icofont.min.css}">
    <link rel="stylesheet" href="css/magnific-popup.css" th:href="@{css/magnific-popup.css}">
    <link rel="stylesheet" href="css/owl.carousel.min.css" th:href="@{css/owl.carousel.min.css}">
    <link rel="stylesheet" href="css/animate.css" th:href="@{css/animate.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{css/main.css}">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/meanmenu.min.css" th:href="@{css/meanmenu.min.css}">
    <link rel="stylesheet" href="css/responsive.css" th:href="@{css/responsive.css}">
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link href= "/static/images" th:href="@{/static/images}">

</head>
<body>
<!-- Blog Section End -->
<!-- Footer Section Start -->
<footer class="footer">
    <!-- Footer Top Start -->
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget Start -->
                <div class="col-md-3 col-sm-6 footer-widget">
                    <div class="footer-wedget-one">
                        <img class="footer-logo" src="img/footer-logo.png" alt=""/>
                        <p>Omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae</p>
                        <div class="footer-wedget-contact">
                            <div class="footer-social-profile">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
                <!-- Single Footer Widget Start -->
                <div class="col-md-3 col-sm-6 footer-widget">
                    <div class="footer-widget-menu">
                        <h2 class="footer-widget-title">Booking</h2>
                        <ul>
                            <li><a href="#">Rooms & Suites</a></li>
                            <li><a href="#">Restaurant</a></li>
                            <li><a href="#">Flights</a></li>
                            <li><a href="#">Bar Club</a></li>
                            <li><a href="#">Penthouse</a></li>
                            <li><a href="#">Swimming Pool</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
                <!-- Single Footer Widget Start -->
                <div class="col-md-3 col-sm-6 footer-widget">
                    <div class="footer-widget-recent-news">
                        <h2 class="footer-widget-title">Recent post</h2>
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="recent-news-border"></span>
                                    <span class="recent-news-title">Travel gift ideas for every type of traveler</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="recent-news-border"></span>
                                    <span class="recent-news-title">Travel gift ideas for every type of traveler</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="recent-news-border"></span>
                                    <span class="recent-news-title">Travel gift ideas for every type of traveler</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Widget End -->
                <!-- Single Footer Widget Start -->
                <div class="col-md-3 col-sm-6 footer-widget">
                    <div class="footer-newsletter-form">
                        <h2 class="footer-widget-title">Subscibe</h2>
                        <!--<form method="post" action="#">
                            <input type="text" placeholder="Name">
                            <input type="email" placeholder="Email">
                            <input type="submit" value="Subscibe now">
                        </form>-->
                        <img src="img/erweima.png" th:src="@{img/erweima.png}">
                    </div>
                </div>
                <!-- Single Footer Widget End -->
            </div>
        </div>
    </div>
    <!-- Footer Top End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="copy-right">
                        <p>&copy; 2019  何北清版权仅有 <a href="https://www.baidu.com/" >归零</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</footer>

<!--</div>-->
<script src="/static/js/jquery-latest.min.js" th:src="@{js/jquery-latest.min.js}"></script>
<script src="/static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="/static/js/jquery-ui.js" th:src="@{js/jquery-ui.js}"></script>
<script src="/static/js/isotope.pkgd.min.js" th:src="@{js/isotope.pkgd.min.js}"></script>
<script src="/static/js/jquery.magnific-popup.min.js" th:src="@{js/jquery.magnific-popup.min.js}"></script>
<script src="/static/js/owl.carousel.min.js" th:src="@{js/owl.carousel.min.js}"></script>
<script src="/static/js/owl.animate.js" th:src="@{js/owl.animate.js}"></script>
<script src="/static/js/jquery.scrollUp.min.js" th:src="@{js/jquery.scrollUp.min.js}"></script>
<script src="/static/js/jquery.counterup.min.js" th:src="@{js/jquery.counterup.min.js}"></script>
<script src="/static/js/modernizr.min.js" th:src="@{js/modernizr.min.js}"></script>
<script src="/static/js/waypoints.min.js" th:src="@{js/waypoints.min.js}"></script>
<script src="/static/js/jquery.meanmenu.min.js" th:src="@{js/jquery.meanmenu.min.js}"></script>
<script src="/static/js/jquery.countdown.js" th:src="@{js/jquery.countdown.js}"></script>
<script src="/static/js/imagesloaded.pkgd.min.js" th:src="@{js/imagesloaded.pkgd.min.js}"></script>
<script src="/static/http://ditu.google.cn/maps/api/js?key=AIzaSyAJdanixi2Nzt7V-XXzo22neY4Eso8DXCQ"></script>
<script src="/static/js/custom.js" th:src="@{js/custom.js}"></script>
</body>
</html>